<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} {% endblock %}</title>
  <script src="https://cdn.tailwindcss.com"></script>
  {% block script %}{% endblock %}
</head>

<body>
  <div class="h-screen w-screen bg-sky-50 flex flex-col justify-center">
    {% block content %}{% endblock %}
  </div>
</body>

</html>