{% extends 'base.html' %}

{% block title %}Todo List{% endblock %}

{% block script %}
<script type="text/javascript" src="{{url_for('static', filename='main.js' )}}" defer></script>
{% endblock %}

{% block content %}
<div class="m-auto lg:w-2/4 w-10/12  p-10 border-2 bg-gray-200/10 rounded-xl">
    <div>
        <h1 class="font-bold text-lg">Todo List</h1>
        <h3 class="text-md">Stay on Top of Your Schedule with our Todo List App</h3>
    </div>
    <div class="py-8">
        {% include "todo-list.html" %}
        <div class="inline-flex bg-white w-full justify-around drop-shadow-xl p-4 rounded-md mb-2">
            <form id="form-tambah" action="/tambah" method="post" class="flex-1 flex flex-row justify-around font-bold">
                <input type="text" name="todo"
                    class="w-full block flex-1 border-0 bg-transparent py-1.5 pl-1 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm outline-none"
                    placeholder="Masukan Kegiatan">
                <div class="w-min px-4 py-2 hover:bg-gray-200 rounded-md">
                    <button type="submit"">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}