<div class="inline-flex flex-col w-full" id="todo-list">
       {% for todo in todos %}
       <div class="inline-flex bg-white w-full justify-around drop-shadow-xl p-4 rounded-md mb-2">
              <div id="todo-{{todo.id}}" class="flex-1 flex flex-row justify-around items-baseline font-bold">
                     <div class="flex-1 font-bold w-full">{{todo.todo}}</div>
                     <div class="w-min px-4 py-2 hover:bg-gray-200 rounded-md">
                            <button type="button" onclick="hapus({{todo.id}})" class="text-red-600">Hapus</button>
                     </div>
              </div>
       </div>
       {% endfor %}
</div>